.subTitle {
	font-size: 160%;
}

.note {
	color: rgba(75, 75, 75, 0.5);
	font-size: 100%;
	text-align: center;
}

#adminLoginBackground {
	background-color: black;
}

#adminLoginDiv {
	margin: 250px auto;
	width: 500px;
	height: 200px;
	background-color: rgb(245, 245, 245);
	padding: 10px;
	border-radius: 10px;
}

#adminLoginTitleDiv {
	margin: 10px auto;
	width: 400px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 150%;
}

#adminLoginInputDiv {
	margin: 10px auto;
	width: 400px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 150%;
}

.button {
	background-color: rgb(24, 201, 255);
	width: 200px;
	border-radius: 10px;
}

#adminBodyBackground {
	background-color: rgb(71, 233, 219);
}

#main {
	width: 1000px;
	margin: 10px auto;
	background-color: white;
	border-radius: 20px;
}

#navitagorDiv {
	padding: 10px;
}

#navitagorDiv nav {
	width: 800px;
	margin: 0px auto;
	padding: auto;
	text-align: center;
}

#navitagorDiv a {
	margin: 5px;
	color: black;
	font-size: 160%;
	text-align: center;
	text-decoration: none;
	width: 150px;
	padding: auto;
}

#navitagorDiv a:hover {
	color: rgb(102, 209, 252);
}

#setAppointmentTimeDiv {
	width: 800px;
	margin: 50px auto;
}

#setAppointmentTimeInput {
	font-size: 150%;
	text-align: center;
}

#setAppointmentTimeInput input {
	width: 200px;
	height: 150%;
}

#setAppointmentLimitDiv {
	width: 800px;
	margin: 50px auto;
}

#setAppointmentLimitInput {
	font-size: 150%;
	text-align: center;
}

#setAppointmentLimitInput input {
	width: 200px;
	height: 150%;
}

#setMaskNumDiv {
	width: 800px;
	margin: 50px auto;
}

#setMaskNumInput {
	font-size: 150%;
	text-align: center;
}

#setMaskNumInput input {
	width: 200px;
	height: 150%;
}

#exportLuckyListDiv {
	width: 800px;
	margin: 50px auto;
}
#exportLuckyList{
	
	width: 800px;
	margin: 10px auto;
	text-align:center;
}
.tableList{
	margin: 10px auto;
    background-color: rgba(75, 75, 75,0.1);
}
.tableList td{
	width:200px;
	border-radius: 10px;
}