#adminLoginBackground {
	background-color: black;
}

#adminLoginDiv {
	margin: 250px auto;
	width: 500px;
	height: 200px;
	background-color: rgb(245, 245, 245);
	padding: 10px;
	border-radius: 10px;
}

#adminLoginTitleDiv {
	margin: 10px auto;
	width: 400px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 150%;
}

#adminLoginInputDiv {
	margin: 10px auto;
	width: 400px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 150%;
}

#adminLoginInputDiv .button {
	background-color: rgb(24, 201, 255);
	width: 200px;
	border-radius: 10px;
}

#adminBodyBackground {
	background-color: rgb(71, 233, 219);
}

#main {
	width: 1000px;
	margin: 10px auto;
	background-color: white;
	border-radius: 20px;
}

#navitagorDiv {
	padding: 10px;
}

#navitagorDiv nav {
	width: 800px;
	margin: 0px auto;
	padding: auto;
	text-align: center;
}

#navitagorDiv a {
	margin: 5px;
	color: black;
	font-size: 160%;
	text-align: center;
	text-decoration: none;
	width: 150px;
	padding: auto;
}

#navitagorDiv a:hover {
	color: rgb(102, 209, 252);
}
#setAppointmentTimeDiv{
	width: 800px;
	margin: 0px auto;
}
#subTitle{
	
}